<%- model_class = ItemField -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:input_title) %></th>
      <th><%= model_class.human_attribute_name(:input_type) %></th>
      <th><%= model_class.human_attribute_name(:required) %></th>
      <th><%= model_class.human_attribute_name(:input_values) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @item_fields.each do |item_field| %>
      <tr>
        <td><%= link_to item_field.id, item_field_path(item_field) %></td>
        <td><%= item_field.input_title %></td>
        <td><%= item_field.input_type %></td>
        <td><%= item_field.required %></td>
        <td><%= item_field.input_values %></td>
        <td><%=l item_field.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      item_field_path(item_field), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_item_field_path(item_field), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      item_field_path(item_field),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_item_field_path,
            :class => 'btn btn-primary' %>
