<%= form_for @item_type, :html => { :class => "form-horizontal item_type" } do |f| %>

  <% if @item_type.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@item_type.errors.count, "error") %> prohibited this item_type from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @item_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>

  <%= f.nested_fields_for :item_fields do |builder| %>
    <div class="form-group">
      <%= builder.label :input_title, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= builder.text_field :input_title, :class => 'form-control' %>
      </div>
      <%=builder.error_span(:input_title) %>
    </div>

    <div class="form-group">
      <%= builder.label :input_type, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= builder.select :input_type, %w(text_field select check_box).collect {|v| [v.titleize, v]}, :class => 'form-control' %>
      </div>
      <%=builder.error_span(:input_type) %>
    </div>

    <div class="form-group">
      <%= builder.label :required, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= builder.text_field :required, :class => 'form-control' %>
      </div>
      <%=builder.error_span(:required) %>
    </div>

    <div class="form-group">
      <%= builder.label :input_values, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= builder.text_field :input_values_string, value: builder.object.input_values.join(','),  :class => 'form-control' %>
      </div>
      <%=builder.error_span(:input_values) %>
    </div>
    <%= builder.remove_nested_fields_link 'Remove me' %>
  <% end %>

  <%= f.add_nested_fields_link :item_fields %>



  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                item_types_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
