<fieldset>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:title) %>
  </div>

  <div class="form-group">
    <%= f.label :type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :type, %w(text_field select check_box date number).collect {|v| [v.titleize, v]},
                   {class: 'form-control', prompt: 'Please Select One'}, :onChange => 'toggleRequiredFieldVisibility(this)'  %>
    </div>
    <%=f.error_span(:type) %>
  </div>

  <div class="form-group input_values_div hidden">
    <%= f.label :allowed_values, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :values_string, value: f.object.allowed_values.join(','),  :class => 'form-control', placeholder: 'Separated by (,)', disabled: true %>
    </div>
    <%=f.error_span(:values) %>
  </div>

  <div class="form-group">
    <%= f.label :required, :class => 'control-label col-lg-2' %>
    <div class="col-lg-1">
      <%= f.check_box :required, :class => 'form-control' %>
    </div>
    <%=f.error_span(:required) %>
  </div>

  <%= f.remove_nested_fields_link 'Remove item field' %>
</fieldset>

<script type="">

</script>
